.idea/
out/
HelloWorld.class
solvd.iml
agency/.idea/
agency/out/
agency/target
agency/pom.xml
agency/src/main/resources/
agency/src/main/main.iml

/maven/agency/.idea/
/maven/agency/target/
/maven/agency/src/test/

